.TimeDropdown {
    width: min(800px, 90%);
    margin: 20px;
}
.TimeDropdown .Card {
    width: 100%;
    border-bottom: 2px solid var(--accent);
    border-top: 2px solid var(--accent);
    background-color: var(--bg-alt);
}
.TimeDropdown .Title {
    width: 100%;
    background-color: var(--bg-alt);
    color: var(--text);
    padding: 20px;
    font-size: 2rem;
    font-weight: 650;
    cursor: pointer;
}
.TimeDropdown .Title.Opened {
    background-color: var(--bg-btn);
    color: var(--primary);
    border-bottom: 2px solid var(--text);
}

.TimeDropdown .Title:hover {
    background-color: var(--bg-btn);
    transform: scale(1.01);
}
.TimeDropdown .Title.Opened:hover {
    background-color: var(--bg-btn-hover);
}
.TimeDropdown .Content {
    display: grid;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 300ms ease,
        opacity 200ms ease;
    opacity: 0;
}

.TimeDropdown .Content > * {
    overflow: hidden;
}

.TimeDropdown .Content.Opened {
    grid-template-rows: 1fr;
    opacity: 1;
}
