:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: var(--text);
    background-color: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: #0f0f0f;
    --bg-alt: #1f1f1f;
    --bg-btn: #3e3e3e;
    --bg-btn-hover: #4e4e4e;
    --text: #f5f5f5;
    --text-muted: #a1a1aa;

    --primary: #35ce91;
    --primary-hover: #27c088;

    --accent: #83b9fc;
    --border: #2a2a33;
}

[data-theme='light'] {
    --bg: #f0f0f0;
    --bg-alt: #cfcfcf;
    --bg-btn: #afafaf;
    --bg-btn-hover: #cfcfcf;
    --text: #0f0f0f;
    --text-muted: #6b7280;

    --primary: #2563eb;
    --primary-hover: #1d4ed8;

    --accent: #0073ff;
    --border: #e5e7eb;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 150ms;
}

button {
    border: 0;
    max-width: 400px;
    width: 100%;
    padding: 20px 46px;
    font-size: 1.2em;
    margin-top: 40px;
    border-radius: 50px;
    background-color: var(--bg-btn);
    color: var(--text);
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--bg-btn-hover);
    box-shadow: 0 0 20px var(--accent);
}

.Switch:hover {
    background-color: var(--primary-hover);
    transform: scale(1.1);
}

button:active,
.Switch:active,
.ProjectCard:active {
    transform: scale(0.96);
}

.Switch {
    position: fixed;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 1.5em;
    width: 64px;
    height: 64px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;

    cursor: pointer;
    color: var(--text);
    z-index: 4;
}

#root,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* ------ TABLET ------ */
@media (max-width: 1024px) {
    button {
        font-size: 1.1em;
    }
}

/* ------ MOBILE ------ */
@media (max-width: 768px) {
    button {
        font-size: 1em;
        margin-top: 12px;
    }
}
